<div class="footer">
        <hr>
        <div class="links-section">
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Пользовательские соглашения</a>
            <a href="https://www.weatherapi.com/">API</a>
            <a href="https://www.pranaair.com/ru/">Качество воздуха</a>
            <a href="https://www.djangoproject.com/">Документация Django</a>
            <a href="https://www.w3schools.com/">Обучение html и css</a>
            <span>&copy;2023</span>
            <p>Проект находится на стадии разработки. По поводу проблем с сайтом пишите в раздел обратная связь или на почту dobronrav120@gmail.com</p>
        </div>
</div>