      <div id="wrap">
        <div id="header">
          <div id="nav">
            <div id="head">
              <div id="logo"><img src="../../static/weatherapp/img/logo.png" width="100px"></div>
              <div class="container">
                <button><a href="home">Главная страница</a></button>
                <button><a href="forecast">Прогноз на 10 дней</a></button>
                <button><a href="airquality">Анализ качества воздуха</a></button>
                <button><a href="flycond">Запуск дрона</a></button>
                <button><a href="feedback">Обратная связь</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
